################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerDashboard/v17/DocumentLayout.backup.json
/.vs/CustomerDashboard/v17/.suo
/.vs/CustomerDashboard/v17/.suo
/.vs/CustomerDashboard/v17/DocumentLayout.backup.json
*.vsidx
/.vs/CustomerDashboard/FileContentIndex/50a8fb43-bf97-443a-a47b-e477d584b3f9.vsidx
/.vs/CustomerDashboard/v17/DocumentLayout.json
