################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerDashboard/v17/DocumentLayout.backup.json
/.vs/CustomerDashboard/v17/.suo
/.vs/CustomerDashboard/v17/.suo
